@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">GERENCIADOR TECH - 2020</h1>
    <p>building Web apps with ASP.NET Core.</p>
</div>



<!--HTML Helpers -->
<!-- @Html.ActionLink("Ir para privacidade", "Privacy", "Home") -->
<!--
<a asp-controller="Home" asp-action="Privacy">Ir para privacidade</a>
-->

@section Banner {
    <div class=" text-center">
        Welcome - Gerenciador Tech
    </div>
}